@import url(https://fonts.googleapis.com/css?family=Lora:400,400italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Inconsolata);

body, h1, h2, h3, h4, h5, h6 {
  font-family: 'Lora';
}

pre, tt {
  font-family: 'Inconsolata';
}

a {
  text-decoration: none;
  color: #e7ad52;
}
a:visited {
  color:#e7ad52;
}
a:hover {
  border-bottom: 1px dotted #e7ad52;
}

/* fade animation */
.remark-fading {
  z-index: 9;
}

.remark-slide-container {
  transition: opacity 0.5s ease-out;
  opacity: 0;
}

.remark-visible {
  transition: opacity 0.5s ease-out;
  opacity: 1;
}

.remark-slide-content {
  font-size: 1.7rem;
  color: #f2f2f2;
  background-color: #181818;
}

.title {
  font-size: 5rem;
}

.center {
  margin-left: auto;
  margin-right: auto;
}
